{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    {% if title %}
    <title>Bank - {{ title }}</title>  
    {% else %}    
    <title>BankingSystem</title>
    {% endif %}
  </head>
  <body>
      <!-- NAVIGATION -->
      <nav>
          <div class="navbar navbar-expand-md sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">BankingSystem</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">#
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <!-- <li class="nav-item"> REMOVED FOR NOW AS NOT NECCESARY (NOT ENOUGH PROFILE INFO)
                            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'transactions' %}">Transactions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'deposits' %}">Deposits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'withdrawals' %}">Withdrawals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'loans' %}">Loans</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'transfers' %}">Transfers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>

                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
          </div>
      </nav>

      <main>
        <div class="container">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}
        </div>
      </main>

      <footer>
          <div class="container-fluid padding">
            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a id="footer-link" href="{% url 'home' %}">BankingSystem.com</a>
            </div>
          </div>
      </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </body>
</html>