{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="page-holder bg-cover bg-dark text-white text-center">
        <div class="container py-5">
            <h1>Welcome to Online Banking</h1>
            <br>
            <h4>Login below with your email address and password.</h4>
            <h6>
                Don't have an account with us? <a href="{% url 'register' %}">Click Here</a>
            </h6>
            <form method="POST" class="contactform"> {% csrf_token %}
                {{ form|crispy }}
                <br>
                <button type='submit' class='btn btn-outline-light btn-lg'>Submit</button>
            </form>
        </div>
    </div>

{% endblock content %}