{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h1 class="main-header">Welcome to Online Banking</h1>
        <h6>Don't Have An Account With Us? <a href="{% url 'register' %}">Click Here</a>
        </h6>
        <div class="col-sm-4 col-12">

            <form method="POST">
                {% csrf_token %}
                <fieldset>
                    {{ form|crispy }}
                </fieldset>
                <div>
                    <button type='submit' class='login-btn btn-default'>Submit</button>
                </div>
            </form>
        <div>
        <h6>
            <b>Warning:</b> if you're using a shared or public computer, do not save your user login details online
        </h6>
    </div>

{% endblock content %}